<!-- Collect tags from all posts -->
{%- assign tags = blank -%}
{%- for icon in site.icons -%}
  {%- assign icon_tags = icon.tags | join:'|' | append:'|' -%}
  {%- if icon_tags != '|' -%}
    {%- assign tags = tags | append:icon_tags -%}
  {%- endif -%}
{%- endfor -%}
{%- assign tags = tags | split:'|' | uniq | sort -%}

<!-- List tags & related posts -->
<div class="p-3 button-group filter-button-group" style="display: flex; flex-wrap: wrap; justify-content: center;">
  <a id="btn-color" class="button text-decoration-none no-underline tag-item" style="cursor: pointer;">
    <span class="circle-color" style="background-color: #F82125;"></span>
  </a>
  <a class="button text-decoration-none no-underline tag-item" style="cursor: pointer;">
    <span class="circle-color" style="background-color: #F37500;"></span>
  </a>
  <a class="button text-decoration-none no-underline tag-item" style="cursor: pointer;">
    <span class="circle-color" style="background-color: #F5C700;"></span>
  </a>
  <a class="button text-decoration-none no-underline tag-item" style="cursor: pointer;">
    <span class="circle-color" style="background-color: #00C59E;"></span>
  </a>
  <a class="button text-decoration-none no-underline tag-item" style="cursor: pointer;">
    <span class="circle-color" style="background-color: #00B861;"></span>
  </a>
  <a class="button text-decoration-none no-underline tag-item" style="cursor: pointer;">
    <span class="circle-color" style="background-color: #0696DE;"></span>
  </a>
  <a class="button text-decoration-none no-underline tag-item" style="cursor: pointer;">
    <span class="circle-color" style="background-color: #9C1CAE;"></span>
  </a>
  <a class="button text-decoration-none no-underline tag-item" style="cursor: pointer;">
    <span class="circle-color" style="background-color: #BCC3C7;"></span>
  </a>
</div>

<script>
  $('#btn-color').click(function() {
      $('#fico').css({ stroke: "#f37329" });
  var currentId = $(this).attr('id');
  $('#path' + currentId +'').css({ fill: "#68b723" });
  });
  </script>