body {
    font-family: 'Inter', sans-serif;
}

#container {
    display: inline-block;
    position: relative;
    width: 100%;
}

#dummy {
    padding-top: 100%;
}

#element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

// Footer
.social {
    text-decoration: none !important;
}


.btn{
    margin-bottom: 8px;
    background-color: #d4d4d4;
    border-color: #000000;
    color: #000000;
    cursor: pointer;

    svg{
        fill: #000000;
      }

    }
    :hover.btn{
        background-color: #abacae !important;
        }

.navbar-light .navbar-nav .nav-link{
    color: #4d4d4d;
}

.branding {
    display: inline;
}

.col-lg-10{
    padding-left: 10px;
    padding-right: 10px;
}

.text-center {
    text-align: center !important;
   }

.social-icon{
    fill: #575858;

    &:hover{
        fill: #000000;
    }
}

.icon-svg-themed{
    fill: #343a40;
}

small{
    font-size: 80%;
    font-weight: 400;
}

* {
  box-sizing: border-box;
}

.badge {
    font-weight: 500;
    background-color: #d4d4d4;
    color: #000000;
    font-size: 85%;

    &:hover{
        background-color: #7e8087;
        }
}

.intro{
    padding-bottom: 30px;
    padding-top: 100px;
}

.links{
    color: #000000;

    svg{
        fill: #000000;
    }

    &:hover{
        color: #000000;
        text-decoration: underline;
        text-decoration-color: #000000;
        text-decoration-thickness: 2px;
    }
}

hr {
    background: #e4e4e4;
  }

  .metadata {
    font-size: 14px;
    margin-top: -6px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.circle-color{
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin: 0 4px 0 4px;
    display: inline-block;
}

span.circle-color.active {
    border: 4px solid #666666;
}