---
layout: default
---
<div class="px-3 py-5">
<h2>{{ page.title }}</h2>
<p class="text-muted metadata">
Tag: 
{% for tag in page.tags %}
    <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/tags#' | relative_url }}">
      <span class="tag badge badge-pill">{{ tag }}</span>
    </a>
{% endfor %}
</p>
<hr>
<div class="p-1">
    <img style="height: 20em; width: 20em; display: block; margin: 0 auto;" src="{{ page.image }}" alt="{{ page.title }}">
</div>
<p class="text-center pt-3">
    {% include elements/download-btn.html %}
    {% include elements/copy-btn.html %}
</p>
<hr class="my-5">
<h4 class="mt-5">Other Colors</h4>
<div class="p-3">
    <ul class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list grid">
        {% for icon in site.icons %}
        {% assign name = icon.title %}
        {% if name contains page.title %}
      <li class="col mb-4">
        <a class="item d-block p-1 text-dark text-decoration-none" href="{{ icon.url }}">
          <div class="ico mb-2 text-center rounded">
           <img class="icon-preview p-2" style="height: 5em; width: 5em;" src="{{ icon.image }}" alt="{{ icon.title }}"/>
          </div>
        </a>
        <button class="btn cpybtn text-break name" style="margin-top: -3px; width: 100%; border-radius: 0 0 .25rem .25rem;" data-clipboard-text="{{ icon.image | prepend: site.baseurl | prepend: site.url }}" data-toggle="tooltip" data-placement="bottom" data-original-title="Click to Copy">{{ icon.title }}</button>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>


<script src="/assets/dist/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script>
    var clipboard = new ClipboardJS('.cpybtn');

    clipboard.on('success', function (e) {
      console.log(e);
      $(e.trigger).text("✅ Copied!");
      e.clearSelection();
      setTimeout(function() {
      $(e.trigger).text("Copy");
    }, 2500);
    });

    clipboard.on('error', function (e) {
      console.log(e);
    });
  </script>